.pokemon-card {
    background-color: rgb(164, 196, 173);
    box-shadow: black;
    padding: 50px;
    vertical-align: auto;
    width: 350px; height: 500px;
    border-radius: 50px;

}
    .pokemon-image {
      max-width: 325px;
      border-radius: 25px;
      margin: 10px;
      
    }

  .pokemon-info {
    background-color: rgb(104, 255, 184);
    padding: 50px;
    border-radius: 50px;
    width: 235px; height: 200px;
  }

.pokemon-name {
  font: normal; color: darkolivegreen;
  max-width: 300px; max-height: 5px;

}

.pokemon-type {
  font: normal; color: blueviolet;
  margin: 20px;

}

.plant {
  color: green;

}

.pokemon-description {
  max-width: 300px; max-height: 50px;
  font: normal; color: rgb(87, 76, 76);
}

